@import '../../utils/variables';

.popup-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  position: fixed;
  gap: 45vh;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100vh;
  background-color: $popupBackgroundColor;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  opacity: 1;
  z-index: 100;

  &.hidden {
    transition: all 0.3s ease-in-out;
    opacity: 0;
    z-index: -1;
  }

  .form-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30%;
    .title-container {
      width: 25vw;
      display: flex;
      justify-content: space-between;
    }
    .form-container {
      width: 25vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .input-container {
        display: flex;
        flex-direction: column;
        .color-input input {
          height: 3vh;
        }
        .name-input {
          width: 20vw;
          height: 3vh;
        }
      }
    }
    .desctiption-field-container {
      width: 25vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .description-input {
        height: 10vh;
      }
    }
  }
  .buttons-container {
    width: 25vw;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;

    button {
      width: 20%;
      border: $buttonBorder solid 1px;
      height: 5vh;
      height: 5vh;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        opacity: 0.5;
      }
    }
    .cancel-button {
      background-color: $cancelButtonColor;
      border: $buttonBorder solid 1px;
      color: $buttonBorder;
    }
    .save-button {
      background-color: $saveButtonColor;
      border: none;
      color: #fff;
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
  .close-button {
    position: absolute;
    font-size: 1.3rem;
    top: 35px;
    right: 20px;
    width: 5vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 0.5;
    }
  }
}

input,
textarea {
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: $white;
  resize: none;
  font-size: 1rem;
  &:focus {
    outline: none;
  }
}

label {
  font-size: 0.8rem;
  margin-bottom: 6px;
  font-weight: 400;
}

* {
  font-family: 'Roboto', sans-serif;
}
