@import '../../../utils/variables';

.list-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  height: 6vh;
  background-color: $white;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-weight: 100;
  &:hover {
    background-color: #f9f9f9;
  }
}

span {
  width: 20%;
  text-align: start;

  &:nth-child(2) {
    text-align: center;
    margin-right: 50%;
  }

  .color-box {
    width: 25px;
    height: 25px;
    border-radius: 25%;
    margin-left: 10px;
  }
}

.delete-button {
  background-color: transparent;
  border: none;
  color: $deleteButtonColor;
  position: absolute;
  right: 6%;
  &:hover {
    font-size: 1.3rem;
  }
}
