@use '@angular/material' as mat;
@import './app/utils/variables.scss';

html,
body {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $layoutBackgroundColor;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

input {
  &:focus {
    outline: none;
  }
}
* {
  text-overflow: clip;
}
