@use '@angular/material' as mat;
@use './app/utils/variables.scss';

html,
body {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #f2f6f9;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

input {
  &:focus {
    outline: none;
  }
}
