$layoutBackgroundColor: #f2f6f9;
$popupBackgroundColor: #fafafa;
$gray: #a9a7a7;
$white: #fff;
$black: #000;
$buttonBorder: #a3a3a3;
$saveButtonColor: #34cc80;
$urlButtonColor: #007bff;
$urlButtonColorHover: #0078f998;
$urlButtonHoverColor: #0056b3;
$cancelButtonColor: #f9f9f9;
$deleteButtonColor: #ff0000;
