<div
  class="main-container"
  *ngIf="listItems.length > 0; else other_content"
  [ngSwitch]="this.viewState"
>
  <div *ngSwitchCase="'List'">
    <div class="table-header">
      <span (click)="sortItems('color', sortType === 'color' ? true : false)"
        >Color
        {{
          sortType === 'color' ? (!this.reverse ? '&darr;' : '&uarr;') : ''
        }}</span
      >
      <span (click)="sortItems('name', sortType === 'name' ? true : false)"
        >Name
        {{
          sortType === 'name' ? (!this.reverse ? '&darr;' : '&uarr;') : ''
        }}</span
      >
      <span
        (click)="
          sortItems('createDate', sortType === 'createDate' ? true : false)
        "
        >Create Date
        {{
          sortType === 'createDate' ? (!this.reverse ? '&darr;' : '&uarr;') : ''
        }}</span
      >
      <span
        (click)="
          sortItems(
            'lastUpdateDate',
            sortType === 'lastUpdateDate' ? true : false
          )
        "
        >Last Update Date
        {{
          sortType === 'lastUpdateDate'
            ? !this.reverse
              ? '&darr;'
              : '&uarr;'
            : ''
        }}</span
      >
      <span
        (click)="
          sortItems('createdBy', sortType === 'createdBy' ? true : false)
        "
        >Created By
        {{
          sortType === 'createdBy' ? (!this.reverse ? '&darr;' : '&uarr;') : ''
        }}</span
      >
    </div>
    <div class="content-container list">
      <ng-container *ngFor="let item of paginate('List')">
        <app-list-item
          (deleteClick)="deleteItem(this.item)"
          [item]="item"
        ></app-list-item>
      </ng-container>
    </div>
  </div>
  <div *ngSwitchCase="'Tiles'">
    <div class="content-container tiles">
      <ng-container *ngFor="let item of paginate('Tiles')">
        <app-tile-item [item]="item" />
      </ng-container>
    </div>
    <app-tile-item />
  </div>
  <div class="pagination">
    <button
      (click)="paginate('prev')"
      [disabled]="pagination.currentPage === 1"
      class="paginationPrev"
    >
      Prev
    </button>
    {{ pagination.currentPage }} /
    {{ (+this.listItems.length / +this.pagination.rows).toFixed() }}
    <button
      (click)="paginate('next')"
      [disabled]="
        (this.listItems.length / this.pagination.rows).toFixed() ===
        this.pagination.currentPage.toString()
      "
      class="paginationNext"
    >
      Next
    </button>
  </div>
</div>
<ng-template #other_content
  >No resaults... clear search input or call Dror
</ng-template>
